parameters:
    # Adds a fallback DATABASE_URL if the env var is not set.
    # This allows you to run cache:warmup even if your
    # environment variables are not available yet.
    # You should not need to change this value.
    env(DATABASE_URL): ''

doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        types:
            object: Sylius\Bundle\CoreBundle\Doctrine\DBAL\Type\ObjectType
            datetime: Bro\WorldCoreBundle\Domain\Doctrine\DBAL\Types\UTCDateTimeType
            datetimetz: Bro\WorldCoreBundle\Domain\Doctrine\DBAL\Types\UTCDateTimeType
            EnumLanguage: Bro\WorldCoreBundle\Domain\Doctrine\DBAL\Types\EnumLanguageType
            EnumLocale: Bro\WorldCoreBundle\Domain\Doctrine\DBAL\Types\EnumLocaleType
