{% set product = hookable_metadata.context.product %}
{% set variant = hookable_metadata.context.variant %}
{% set applied_promotions = hookable_metadata.context.applied_promotions %}

<div>
    {% if not product.enabledVariants.empty() %}
        {{ component('sylius_shop:catalog_promotions', { variant : variant, applied_promotions: applied_promotions, withDescription: false }) }}
        {{ component('sylius_shop:product:card:price', { variant: variant, template: '@SyliusShop/product/common/price.html.twig' }) }}
    {% endif %}
</div>
