<div class="bro-top-bar text-white">
    <div class="container py-2 fs-7">
        <div class="row g-3 align-items-center justify-content-center justify-content-md-between">
            {% hook 'top_bar' %}
        </div>
    </div>
</div>
