{% set log = hookable_metadata.context.log %}

{% if log.data.firstName|default(false) %}
    <tr>
        <td class="col-4 border-0"><strong>{{ 'sylius.ui.first_name' |trans }}</strong></td>
        <td class="col-8 border-0 text-body w-full"><span>{{ log.data.firstName }}</span></td>
    </tr>
{% endif %}
