<div class="mb-6">
    <div class="overflow-hidden">
        <div class="d-flex justify-content-center align-items-center position-relative bro-hero">
            <img src="{{ asset('build/shop/images/homepage-banner.webp', 'shop') }}" width="1920" class="img-fluid bro-hero__background" alt="Home">
            <img src="{{ asset('build/shop/images/homepage-banner-logo.webp', 'shop') }}" class="position-absolute bro-hero__logo" alt="New collection">
        </div>
    </div>
</div>
