{% set product = hookable_metadata.context.product %}

<a class="link-reset" href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" {{ sylius_test_html_attribute('product-content') }}>
    {% hook 'details' %}
</a>
